.phone {
  background-size: contain;
  background-repeat: no-repeat;
  border:black solid 1px;
  width: 900px;
  height: 960px;
  margin: auto;
}

.phone-frame {
  position: relative;
  width: 375px;
  height: 667px;
  margin: 140px 264px auto auto;
  border: black solid 1px;
}